body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.groen-groot {
  color: green;
  front-size: 24pt;
}
p {
  color: red;
}
#uniek {
  color: yellow;
  background-color: blanchedalmond;
}
